:root {
    --color-background: #fff;
    --color-primary: #2193f6;
}
body {
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    color: #212121;

}
.logo {
    color: #2193f3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.nav-list {
    color: #212121;
}
.nav-list .list:hover,
.nav-list .list:focus {
    color: #2193f3;
}
.email, .phone {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.email, .phone:hover,
.email, .phone:focus {
    color: #2193f3; 
}
.nav-header {
    background-color: #fff;
    color: #212121;
}
.baner-header {
    background: #2f303a;
    color: #fff;
}
.baner-text {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.baner-button {
    color: #fff;
    background: #2193f3;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
}
.features-list {
    font-size: 14px;
    line-height: 16px;
}
.features-text {
    font-size: 14px;
    color: #757575;
}
.our_team {
    
}
.team-title {
    font-size: 36px;
    line-height: ;
}
.our_team-list {

}
.team_members {
    font-size: 16px;
    line-height: ;
}
.team-text {
    font-size: 16px;
    line-height: ;
    color: #757575;
}
.footer {
    background-color: #2f303a;
    color: #fff;
}
.address-text {
    font-size: 14px;
    line-height: ;
}
.button-list .list {
    font-weight: 500;
    font-size: 16px; 
}
.project_title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.project_text {
    color: #757575;
    font-size: 16px ;
    line-height: 36px;
}